@charset "utf-8";
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Material design icon
@import '~@mdi/font/css/materialdesignicons.css';

// Bulma
@import '@oruga-ui/theme-bulma/style.css';
