version: 2.1
orbs:
  php: circleci/php@1.1.0
jobs:
  build:
    executor: php/default
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            # "composer.lock" can be used if it is committed to the repo
            - v1-dependencies-{{ checksum "composer.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: composer install -n --prefer-dist

      - save_cache:
          key: v1-dependencies-{{ checksum "composer.json" }}
          paths:
            - ./vendor
      - restore_cache:
          keys:
            - node-v1-{{ checksum "package.json" }}
            - node-v1-
      - run: yarn install
      - save_cache:
          key: node-v1-{{ checksum "package.json" }}
          paths:
            - node_modules

      # prepare env
      - run: mv .env.example .env
      - run: php artisan key:generate
      # prepare the database
      # - run: touch storage/testing.sqlite
      # - run: php artisan migrate --env=testing --database=sqlite_testing --force

      # run tests with phpunit or codecept
      - run: ./vendor/bin/phpunit --coverage-clover coverage.xml
      # - run: ./vendor/bin/codecept build
      # - run: ./vendor/bin/codecept run
workflows:
  build:
    jobs:
      - build